$primary_color : white;

@mixin smallCircle{
    background-color : white;
    height : 70px;
    width : 70px;
    border-radius : 100px;
    position : absolute;
    bottom : 20px;
    left : 190px;
    z-index : 10;
}

@keyframes colorChange{
    0% {background-color : rgb(102, 215, 209)};
    25% {background-color : rgb(167, 193, 244)};
    50% {background-color : rgb(218, 227, 102)};
    75% {background-color : rgb(254,160,150);}
    100% {background-color : rgb(102, 215, 209)};
}

@keyframes squareAnimation-right{
    0% {left : 190px;}
    100% {left : 630px;}
}

@keyframes squareAnimation-down{
    0% {top : 34px;}
    100% {top : 177px;}
}

@keyframes squareAnimation-up{
    0% {bottom : 20px;}
    100% {bottom : 163px;}
}

@keyframes squareAnimation-left{
    0% {left : 190px;}
    100% {left : -250px;}
}

*{
    box-sizing: border-box;
}

.badan{
    height : 100%;
    width : 100%;
    background-color: $primary_color;
    text-align: center;
}

.animasi{
    animation-name : colorChange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.header{
    width: 100%;
    height : 520px;
    position: relative;

    .small-circle{
        height : 5px;
        width : 150px;
        top : 50%;
        left : 10px;
        border-radius : 100px;
        background-color : white;
        position : absolute;
        transition: all 1s;
        animation-name : lineChange;
        animation-duration : 4s;
        animation-iteration-count: infinite;
    }

    h3{
        font-family: 'Dancing Script', cursive;
        font-size : 52px;
        letter-spacing: 5px;
        padding-top : 140px;
        color : white;
    }
}

.tengah-wrapper{
    width : 100%;
    padding-top : 50px;
    padding-bottom : 130px;
    background-color : #eee;

    img, svg{
        height : 50px;
        width : 50px;
    }

    button{
        margin-top: 20px;
        margin-bottom : 35px;
        margin-right : 10px;
    }

    h3{
        font-family: 'Dancing Script', cursive;
        font-size : 40px;
        letter-spacing: 1px;
        color : black;
    }
}


.wrapper{
    background-color : white;
    margin : 0 auto;
    height: 520px;
    width : 95%;
    padding : 20px;
    border-radius: 30px 30px;
    outline-style: double;

    .col{
        height : 100%;
        width : 32%;
        padding : 55px;
        margin : 0 auto;
        margin-bottom : 60px;
        position:relative;

        .hexa{
            position : absolute;
            left : 30%;
            top : 120px;
            font-size : 21px;
            color : #3f3844;
            font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
         }
    }
}

.animasi-wrapper{
    width : 100%;
    height : 480px;
    background-color : lightsalmon;

    .container{
        width: 100%;
    }

    h3{
        padding-top : 90px;
    }

    .col{
        background-color : lightblue;
        padding : 70px;
        margin-left: 3px;
        margin-bottom : 3px;
        position: relative;
        
        .small-circle{
            @include smallCircle();
            }

            .right-dir{
                 animation-name: squareAnimation-right;
                 animation-duration: 2s;
                 animation-iteration-count: infinite;
            }

            .down-dir{
                animation-name: squareAnimation-down;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            .up-dir{
                animation-name: squareAnimation-up;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            .left-dir{
                animation-name : squareAnimation-left;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
        }

}