$primary_color : white;
$colorG1 : #ABDAFC;
$colorG2 : #C490D1;
$bgColor : #ACACDE;
$durasi : 1s;
$load1 : 650px;
$load2 : 720px;
$load3 : 790px;

@mixin smallCircle{
    background-color :white;
    height : 70px;
    width : 70px;
    border-radius : 550px 550px;
    position : absolute;
    bottom : 20px;
    left : 190px;
    z-index : 10;
}

@mixin animasi{
    animation-duration: $durasi;
    animation-iteration-count: infinite;
}

@mixin loaderSet($left){
    position: absolute;
    background-color : rgb(107, 255, 173);
    height : 40px;
    width : 40px;
    border-radius : 250px 250px;
    left : $left;
    top : 380px;
    z-index : 1;

    animation-name : glow;
    animation-duration : 1.5s;
    animation-iteration-count: infinite;
}


@keyframes colorChange{
    0% {background-color : rgb(102, 215, 209)};
    25% {background-color : rgb(167, 193, 244)};
    50% {background-color : rgb(218, 227, 102)};
    75% {background-color : rgb(254,160,150);}
    100% {background-color : rgb(102, 215, 209)};
}

@keyframes squareAnimation-right{
    0% {left : 190px;}
    100% {left : 630px;}
}

@keyframes squareAnimation-down{
    0% {top : 34px;}
    100% {top : 177px;}
}

@keyframes squareAnimation-up{
    0% {bottom : 20px;}
    100% {bottom : 163px;}
}

@keyframes squareAnimation-left{
    0% {left : 190px;}
    100% {left : -250px;}
}

@keyframes glow{
    0% {background-color: rgb(107, 255, 173);}
    60% {background-color: rgb(164, 172, 255);}
    100% {background-color: rgb(107, 255, 173);}
}

*{
    box-sizing: border-box;
}

.badan{
    height : 100%;
    width : 100%;
    background-color: $primary_color;
    text-align: center;
    background-color : whitesmoke;
}

#loader{
    @include loaderSet($load1);
}

#loader2{
    @include loaderSet($load2);
    animation-delay: 0.75s;
}

#loader3{
    @include loaderSet($load3);
}



.animasi{
    animation-name : colorChange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.header{
    width: 100%;
    height : 520px;
    position: relative;
    display : none;

    .small-circle{
        height : 5px;
        width : 150px;
        top : 50%;
        left : 10px;
        border-radius : 100px;
        background-color : white;
        position : absolute;
        transition: all 1s;
        animation-name : lineChange;
        animation-duration : 4s;
        animation-iteration-count: infinite;
    }

    h3{
        font-family: 'Dancing Script', cursive;
        display : inline-block;
        font-size : 52px;
        letter-spacing: 5px;
        margin-top : 140px;
        color : white;
        transition : all 1s;

        &:hover{
            transition: all 1s;
            font-size : 72px;
        }
    }
}

.tengah-wrapper{
    width : 100%;
    padding-top : 50px;
    padding-bottom : 130px;
    background-color : #eee;
    display : none;

    button{
        margin-top: 20px;
        margin-bottom : 35px;
        margin-right : 10px;
    }

    h3{
        font-family: 'Dancing Script', cursive;
        font-size : 40px;
        letter-spacing: 1px;
        color : black;
    }

    .wrapper{
        background-color : white;
        margin : 0 auto;
        height: 520px;
        width : 95%;
        padding : 20px;
        border-radius: 30px 30px;
        outline-style: double;
    
        .col{
            height : 100%;
            width : 32%;
            padding : 55px;
            margin : 0 auto;
            margin-bottom : 60px;
            position:relative;
            outline-style: dotted;
    
            .hexa{
                position : absolute;
                left : 30%;
                top : 120px;
                font-size : 21px;
                color : #3f3844;
                font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
             }
        }
    }
}




.animasi-wrapper{
    width : 100%;
    height : 670px;
    background-color : $bgColor;
    display : none;

    .container{
        width: 100%;
    }

    h3{
        padding-top : 40px;
        padding-bottom: 50px;
        font-family: 'Dancing Script', cursive;
        font-size : 40px;
        letter-spacing: 1px;
        color : black;
    }

    .col{
        padding : 70px;
        margin-left: 3px;
        margin-bottom : 3px;
        position: relative;
        
         .small-circle{
            @include smallCircle();
            }

            .right-dir{
                 animation-name: squareAnimation-right;
                 @include animasi();
            }

            .down-dir{
                animation-name: squareAnimation-down;
                @include animasi();
            }

            .up-dir{
                animation-name: squareAnimation-up;
                @include animasi();
            }

            .left-dir{
                animation-name : squareAnimation-left;
                @include animasi();
            }

        }

    .clock{
        margin-top : 15px;
        margin-bottom: 25px;
    }

    .g1{
        background-color : $colorG1;
      }

      .g2{
          background-color : $colorG2;
      }


}