@-webkit-keyframes colorChange {
  0% {
    background-color: #66d7d1;
  }
  25% {
    background-color: #a7c1f4;
  }
  50% {
    background-color: #dae366;
  }
  75% {
    background-color: #fea096;
  }
  100% {
    background-color: #66d7d1;
  }
}

@keyframes colorChange {
  0% {
    background-color: #66d7d1;
  }
  25% {
    background-color: #a7c1f4;
  }
  50% {
    background-color: #dae366;
  }
  75% {
    background-color: #fea096;
  }
  100% {
    background-color: #66d7d1;
  }
}

@-webkit-keyframes lineChange {
  0% {
    width: 150px;
  }
  50% {
    width: 700px;
  }
  100% {
    width: 150px;
  }
}

@keyframes lineChange {
  0% {
    width: 150px;
  }
  50% {
    width: 700px;
  }
  100% {
    width: 150px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.badan {
  height: 100%;
  width: 100%;
  background-color: white;
  text-align: center;
}

.animasi {
  -webkit-animation-name: colorChange;
          animation-name: colorChange;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header {
  width: 100%;
  height: 520px;
  position: relative;
}

.header .small-circle {
  height: 5px;
  width: 150px;
  top: 50%;
  left: 10px;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: lineChange;
          animation-name: lineChange;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 52px;
  letter-spacing: 5px;
  padding-top: 140px;
  color: white;
}

.tengah-wrapper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 130px;
  background-color: #eee;
}

.tengah-wrapper img, .tengah-wrapper svg {
  height: 50px;
  width: 50px;
}

.tengah-wrapper button {
  margin-top: 20px;
  margin-bottom: 35px;
  margin-right: 10px;
}

.tengah-wrapper h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  letter-spacing: 1px;
  color: black;
}

.wrapper {
  background-color: white;
  margin: 0 auto;
  height: 520px;
  width: 95%;
  padding: 20px;
  border-radius: 30px 30px;
  outline-style: double;
}

.wrapper .col {
  height: 100%;
  width: 32%;
  padding: 55px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}

.wrapper .col .hexa {
  position: absolute;
  left: 30%;
  top: 120px;
  font-size: 21px;
  color: #3f3844;
  font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

.animasi-wrapper {
  width: 100%;
  height: 520px;
  background-color: lightsalmon;
}

.animasi-wrapper .container {
  width: 100%;
  height: 100%;
}

.animasi-wrapper h3 {
  padding-top: 90px;
}

.animasi-wrapper .col {
  background-color: lightblue;
  padding: 60px;
  margin-left: 3px;
  margin-bottom: 3px;
}
/*# sourceMappingURL=style.css.map */